.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 7px 2px;
  position: absolute;
  z-index: 100;
}

/* These transform aligns the tooltip box to the right of the tooltip icon and adjusts to
 * the varying heights of the tooltip box (because the amount of text in the box affects height).
 * Note: To adjust to varying heights, the tooltip box element needs to have a parent element of same height
 */

.tooltip .tooltip-info-box-left {
 transform: translate(-100%, calc(-50% - 12px));
}

.tooltip .tooltip-info-box-right {
 transform: translate(33px, calc(-50% - 12px));
}

.tooltip .tooltip-shield-box-left {
 transform: translate(-100%, calc(-50% - 20px));
}

.tooltip .tooltip-shield-box-right {
 transform: translate(50px, calc(-50% - 20px));
}

/* end of transform aligns */

.tooltip:hover .tooltip-text {
  visibility: visible;
}
